## 使用DeepSeek进行数据表的查询

In [2]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor

db_user = "student123"
db_password = "student321"
#db_host = "localhost:3306"
db_host = "rm-uf6z891lon6dxuqblqo.mysql.rds.aliyuncs.com:3306"
db_name = "action"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
db

In [4]:
from langchain.chat_models import ChatOpenAI

llm = ChatOpenAI(
    temperature=0.01,
    model="deepseek-chat",  
    openai_api_key = "sk-9846f14a2104490b960adbf5c5b3b32e",
    openai_api_base="https://api.deepseek.com"
)

# 需要设置llm
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True
)

In [6]:
# Task: 描述数据表
#agent_executor.run("描述与订单相关的表及其关系")
agent_executor.invoke("描述与订单相关的表及其关系")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
I see several tables that might be related to orders, particularly "orders" and "customers". I should examine their schemas to understand their structure and relationships.nt, team, team_score, test_work, trips, user, users, using, weather

Action: sql_db_schema
Action Input: orders, customers
CREATE TABLE customers (
	`Id` INTEGER,
	`Name` VARCHAR(255)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

/*
3 rows from customers table:
Id	Name
1	Joe
2	Henry
3	Sam
*/


CREATE TABLE orders (
	`Id` INTEGER,
	`CustomerId` INTEGER
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

/*
3 rows from orders table:
Id	CustomerId
1	3
2	1
From examining the schema, I can see that:

1. The `orders` table contains:
   - `Id` (order ID)
   - `CustomerId` (which references the customer who placed the order)

2. The `customers` table contains:
   - `Id` (customer ID)
   - `Name` (customer name)

The relationship between these tables is:
- The `CustomerId` field in the `orders` table is a foreign key that references the `Id` field in the `customers` table
- This represents a one-to-many relationship where one customer can have many orders

Final Answer: 数据库中有两个与订单相关的表：`orders`(订单表)和`customers`(客户表)。`orders`表包含订单ID和客户ID字段，`customers`表包含客户ID和客户名字段。两者通过`orders.CustomerId`与`customers.Id`的关联建立关系，表示一个客户可以有多笔订单。

> Finished chain.

{'input': '描述与订单相关的表及其关系',
 'output': '数据库中有两个与订单相关的表：`orders`(订单表)和`customers`(客户表)。`orders`表包含订单ID和客户ID字段，`customers`表包含客户ID和客户名字段。两者通过`orders.CustomerId`与`customers.Id`的关联建立关系，表示一个客户可以有多笔订单。'}

In [7]:
# 这个任务，实际上数据库中 没有HeroDetails表
agent_executor.run("描述HeroDetails表")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
I see that there is a table called "heros" which might be related to "HeroDetails". I should check the schema of this table to understand its structure. player_score, student, team, team_score, test_work, trips, user, users, using, weather

Action: sql_db_schema
Action Input: heros
CREATE TABLE heros (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	hp_max FLOAT,
	hp_growth FLOAT,
	hp_start FLOAT,
	mp_max FLOAT,
	mp_growth FLOAT,
	mp_start FLOAT,
	attack_max FLOAT,
	attack_growth FLOAT,
	attack_start FLOAT,
	defense_max FLOAT,
	defense_growth FLOAT,
	defense_start FLOAT,
	hp_5s_max FLOAT,
	hp_5s_growth FLOAT,
	hp_5s_start FLOAT,
	mp_5s_max FLOAT,
	mp_5s_growth FLOAT,
	mp_5s_start FLOAT,
	attack_speed_max FLOAT,
	attack_range VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	role_main VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	role_assist VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	birthdate DATE,
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

/*
3 rows from heros table:
id	name	hp_max	hp_growth	hp_start	mp_max	mp_growth	mp_start	attack_max	attack_growth	attack_start	defense_max	defense_growth	defense_start	hp_5s_max	hp_5s_growth	hp_5s_start	mp_5s_max	mp_5s_growth	mp_5s_start	attack_speed_max	attack_range	role_main	role_assist	birthdate
10000	夏侯惇	7350.0	288.8	3307.0	1746.0	94.0	430.0	321.0	11.57	159.0	397.0	21.14	101.0	98.0	3.357	51.0	37.0	1.571	15.0	0.0	近战	坦克	战士	2016-07-19
10001	钟无艳	7000.0	275.0	3150.0	1760.0	95.0	430.0	318.0	11.0	164.0	409.0	22.07	100.0	92.0	3.143	48.0	37.0	1.571	15.0	0.0	近战	战士	坦克	2021-05-01
10002	钟	8341.0	329.4	3450.0	100.0	0.0	100.0	301.0	10.57	153.0	504.0	27.07	125.0	115.0	4.143	57.0	5.0	0.0	5.0	0.0	近战	坦克	辅助	2012-05-04
I now understand the structure of the "heros" table, which appears to be the table the user is referring to as "HeroDetails" (likely a translation or alternative name). Here's the description:

Final Answer:
The "heros" table (likely equivalent to "HeroDetails") contains detailed statistics about game heroes with the following columns:
- Basic info: id (primary key), name, birthdate
- Health stats: hp_max, hp_growth, hp_start
- Mana stats: mp_max, mp_growth, mp_start
- Combat stats: attack_max, attack_growth, attack_start, defense_max, defense_growth, defense_start
- Regeneration stats: hp_5s_max, hp_5s_growth, hp_5s_start, mp_5s_max, mp_5s_growth, mp_5s_start
- Other combat attributes: attack_speed_max, attack_range
- Role information: role_main, role_assist

The table tracks hero attributes at different growth stages (start values, growth rates, and maximum values). Sample heroes include "夏侯惇" (Xiahou Dun), "钟无艳" (Zhong Wuyan), and "钟" (Zhong).

> Finished chain.

'The "heros" table (likely equivalent to "HeroDetails") contains detailed statistics about game heroes with the following columns:\n- Basic info: id (primary key), name, birthdate\n- Health stats: hp_max, hp_growth, hp_start\n- Mana stats: mp_max, mp_growth, mp_start\n- Combat stats: attack_max, attack_growth, attack_start, defense_max, defense_growth, defense_start\n- Regeneration stats: hp_5s_max, hp_5s_growth, hp_5s_start, mp_5s_max, mp_5s_growth, mp_5s_start\n- Other combat attributes: attack_speed_max, attack_range\n- Role information: role_main, role_assist\n\nThe table tracks hero attributes at different growth stages (start values, growth rates, and maximum values). Sample heroes include "夏侯惇" (Xiahou Dun), "钟无艳" (Zhong Wuyan), and "钟" (Zhong).'

In [10]:
agent_executor.run("描述Hero表")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
I see that there are tables named "heros" and "hero_score" which might be relevant to the question about "Hero表". I should check the schema of these tables to understand their structure.am_score, test_work, trips, user, users, using, weather

Action: sql_db_schema
Action Input: "heros, hero_score"
CREATE TABLE hero_score (
	id INTEGER NOT NULL AUTO_INCREMENT,
	score INTEGER NOT NULL DEFAULT '0',
	name VARCHAR(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from hero_score table:
id	score	name
1	80	张飞
2	95	关羽
3	92	刘备
*/


CREATE TABLE heros (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	hp_max FLOAT,
	hp_growth FLOAT,
	hp_start FLOAT,
	mp_max FLOAT,
	mp_growth FLOAT,
	mp_start FLOAT,
	attack_max FLOAT,
	attack_growth FLOAT,
	attack_start FLOAT,
	defense_max FLOAT,
	defense_growth FLOAT,
	defense_start FLOAT,
	hp_5s_max FLOAT,
	hp_5s_growth FLOAT,
	hp_5s_start FLOAT,
	mp_5s_max FLOAT,
	mp_5s_growth FLOAT,
	mp_5s_start FLOAT,
	attack_speed_max FLOAT,
	attack_range VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	role_main VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	role_assist VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	birthdate DATE,
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

/*
3 rows from heros table:
id	name	hp_max	hp_growth	hp_start	mp_max	mp_growth	mp_start	attack_max	attack_growth	attack_start	defense_max	defense_growth	defense_start	hp_5s_max	hp_5s_growth	hp_5s_start	mp_5s_max	mp_5s_growth	mp_5s_start	attack_speed_max	attack_range	role_main	role_assist	birthdate
10000	夏侯惇	7350.0	288.8	3307.0	1746.0	94.0	430.0	321.0	11.57	159.0	397.0	21.14	101.0	98.0	3.357	51.0	37.0	1.571	15.0	0.0	近战	坦克	战士	2016-07-19
10001	钟无艳	7000.0	275.0	3150.0	1760.0	95.0	430.0	318.0	11.0	164.0	409.0	22.07	100.0	92.0	3.143	48.0	37.0	1.571	15.0	0.0	近战	战士	坦克	2021-05-01
10002	钟	8341.0	329.4	3450.0	100.0	0.0	100.0	301.0	10.57	153.0	504.0	27.07	125.0	115.0	4.143	57.0	5.0	0.0	5.0	0.0	近战	坦克	辅助	2012-05-04
I now understand the structure of both tables related to "Hero". The "heros" table contains detailed information about heroes including their attributes, growth rates, roles, and birthdates. The "hero_score" table contains simpler information about heroes' scores and names.

Final Answer:
Hero表在数据库中有两个相关表：
1. heros表 - 包含英雄的详细属性信息：
   - 基础字段：id, name
   - 生命值相关：hp_max, hp_growth, hp_start
   - 法力值相关：mp_max, mp_growth, mp_start
   - 攻击相关：attack_max, attack_growth, attack_start
   - 防御相关：defense_max, defense_growth, defense_start
   - 恢复相关：hp_5s_max, hp_5s_growth, hp_5s_start, mp_5s_max, mp_5s_growth, mp_5s_start
   - 战斗属性：attack_speed_max, attack_range
   - 角色信息：role_main, role_assist
   - 其他：birthdate

2. hero_score表 - 包含英雄的评分信息：
   - id: 主键
   - score: 英雄得分
   - name: 英雄名称

示例数据：
- heros表中有夏侯惇、钟无艳等英雄的详细数据
- hero_score表中有张飞(80分)、关羽(95分)、刘备(92分)等英雄的评分数据

> Finished chain.

'Hero表在数据库中有两个相关表：\n1. heros表 - 包含英雄的详细属性信息：\n   - 基础字段：id, name\n   - 生命值相关：hp_max, hp_growth, hp_start\n   - 法力值相关：mp_max, mp_growth, mp_start\n   - 攻击相关：attack_max, attack_growth, attack_start\n   - 防御相关：defense_max, defense_growth, defense_start\n   - 恢复相关：hp_5s_max, hp_5s_growth, hp_5s_start, mp_5s_max, mp_5s_growth, mp_5s_start\n   - 战斗属性：attack_speed_max, attack_range\n   - 角色信息：role_main, role_assist\n   - 其他：birthdate\n\n2. hero_score表 - 包含英雄的评分信息：\n   - id: 主键\n   - score: 英雄得分\n   - name: 英雄名称\n\n示例数据：\n- heros表中有夏侯惇、钟无艳等英雄的详细数据\n- hero_score表中有张飞(80分)、关羽(95分)、刘备(92分)等英雄的评分数据'

In [11]:
agent_executor.run("找出英雄攻击力最高的前5个英雄")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Based on the question about finding heroes with the highest attack power, the most relevant tables seem to be `heros` or `hero_score`. I'll check the schema of these tables to find the relevant columns.k, trips, user, users, using, weather

Action: sql_db_schema
Action Input: heros, hero_score
CREATE TABLE hero_score (
	id INTEGER NOT NULL AUTO_INCREMENT,
	score INTEGER NOT NULL DEFAULT '0',
	name VARCHAR(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from hero_score table:
id	score	name
1	80	张飞
2	95	关羽
3	92	刘备
*/


CREATE TABLE heros (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	hp_max FLOAT,
	hp_growth FLOAT,
	hp_start FLOAT,
	mp_max FLOAT,
	mp_growth FLOAT,
	mp_start FLOAT,
	attack_max FLOAT,
	attack_growth FLOAT,
	attack_start FLOAT,
	defense_max FLOAT,
	defense_growth FLOAT,
	defense_start FLOAT,
	hp_5s_max FLOAT,
	hp_5s_growth FLOAT,
	hp_5s_start FLOAT,
	mp_5s_max FLOAT,
	mp_5s_growth FLOAT,
	mp_5s_start FLOAT,
	attack_speed_max FLOAT,
	attack_range VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	role_main VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	role_assist VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci,
	birthdate DATE,
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb3

/*
3 rows from heros table:
id	name	hp_max	hp_growth	hp_start	mp_max	mp_growth	mp_start	attack_max	attack_growth	attack_start	defense_max	defense_growth	defense_start	hp_5s_max	hp_5s_growth	hp_5s_start	mp_5s_max	mp_5s_growth	mp_5s_start	attack_speed_max	attack_range	role_main	role_assist	birthdate
10000	夏侯惇	7350.0	288.8	3307.0	1746.0	94.0	430.0	321.0	11.57	159.0	397.0	21.14	101.0	98.0	3.357	51.0	37.0	1.571	15.0	0.0	近战	坦克	战士	2016-07-19
10001	钟无艳	7000.0	275.0	3150.0	1760.0	95.0	430.0	318.0	11.0	164.0	409.0	22.07	100.0	92.0	3.143	48.0	37.0	1.571	15.0	0.0	近战	战士	坦克	2021-05-01
10002	钟	8341.0	329.4	3450.0	100.0	0.0	100.0	301.0	10.57	153.0	504.0	27.07	125.0	115.0	4.143	57.0	5.0	0.0	5.0	0.0	近战	坦克	辅助	2012-05-04
The `heros` table contains the `attack_max` column which seems to represent the maximum attack power of heroes. I'll query this table to find the top 5 heroes with the highest attack power.

Action: sql_db_query_checker
The original query does not contain any of the common mistakes listed. Here is the reproduced original query:

```sql
SELECT name, attack_max FROM heros ORDER BY attack_max DESC LIMIT 5
The query looks correct and ready to execute. I'll now run it to get the results.

Action: sql_db_query
I now have the results showing the top 5 heroes with the highest attack power.m[('阿轲', 427.0), ('孙尚香', 411.0), ('百里守约', 410.0), ('虞姬', 407.0), ('黄忠', 403.0)]

Final Answer: 攻击力最高的前5个英雄是：
1. 阿轲 (427)
2. 孙尚香 (411)
3. 百里守约 (410)
4. 虞姬 (407)
5. 黄忠 (403)

> Finished chain.

'攻击力最高的前5个英雄是：\n1. 阿轲 (427)\n2. 孙尚香 (411)\n3. 百里守约 (410)\n4. 虞姬 (407)\n5. 黄忠 (403)'