In [ ]:
## 使用Qwen-coder，对保险客户数据表进行SQL查询

In [9]:
import json
import os
import dashscope
from dashscope.api_entities.dashscope_response import Role
import time
import pandas as pd
import re

# 设置API密钥
dashscope.api_key = "sk-e37b6feeb62f492bb01828119d588fc4" 

# 封装模型响应函数
def get_response(messages):
    response = dashscope.Generation.call(
        model='qwen-coder-plus',
        messages=messages,
        result_format='message'  # 将输出设置为message形式
    )
    return response

# 从模型响应中提取SQL代码
def get_sql_code(response):
    # 查找```sql和```之间的内容
    pattern = r'```sql(.*?)```'
    match = re.search(pattern, response.output.choices[0].message.content, re.DOTALL)
    if match:
        return match.group(1).strip()
    else:
        # 如果没有找到```sql标记，尝试查找任何```之间的内容
        pattern = r'```(.*?)```'
        match = re.search(pattern, response.output.choices[0].message.content, re.DOTALL)
        if match:
            return match.group(1).strip()
        else:
            # 如果没有找到任何代码块，返回整个响应
            return response.output.choices[0].message.content

# 得到sql
def get_sql(query):
    start_time = time.time()
    sys_prompt = """我正在编写SQL，以下是数据库中的数据表和字段，请思考：哪些数据表和字段是该SQL需要的，然后编写对应的SQL，如果有多个查询语句，请尝试合并为一个。编写SQL请采用```sql
    """
    user_prompt = f"""-- language: SQL
### Question: {query}
### Input: {create_sql}
### Response:
Here is the SQL query I have generated to answer the question `{query}`:
```sql
"""

    messages = [
        {"role": "system", "content": sys_prompt},
        {"role": "user", "content": user_prompt}
    ]
    
    response = get_response(messages)
    return response


######## 需要人工设置 ########
save_file = f'sql_result_qwen_coder.xlsx'
qa_file = './data/qa_list-2.txt'                  # QA测试题
sql_file = './data/create_sql.txt'           # SQL数据表

In [10]:
# 读取 SQL数据表
with open(sql_file, 'r', encoding='utf-8') as file:
    create_sql = file.read()
# 读取 SQL问题列表
with open(qa_file, 'r', encoding='utf-8') as file:
    qa_list = file.read()
qa_list = qa_list.split('=====')

# 保存SQL结果
sql_list = []
markdown_list = []
time_list = []
for qa in qa_list:
    query = qa
    query = query.replace('\n', '')
    print(query)
    start_time = time.time()
    # 请求生成sql
    #content, prompt_len = get_sql(query)
    response = get_sql(query)
    use_time = round(time.time()-start_time, 2)
    time_list.append(use_time)
    print('SQL生成时间：', use_time)
    print(response)
    print('response=', response.output.choices[0].message.content)
    # 提取生成的SQL
    sql = get_sql_code(response)
    print('SQL: {}'.format(sql))
    sql_list.append(sql)

获取所有客户的姓名和联系电话。
SQL生成时间： 2.16
{"status_code": 200, "request_id": "a6d1dab4-dc64-9a89-ba26-7a7e69eb14d1", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "```sql\nSELECT Name, PhoneNumber\nFROM CustomerInfo;\n```\n\nThis SQL statement selects the `Name` and `PhoneNumber` fields from the `CustomerInfo` table, which contains all the customer information including their names and contact numbers."}}]}, "usage": {"input_tokens": 817, "output_tokens": 48, "total_tokens": 865}}
response= ```sql
SELECT Name, PhoneNumber
FROM CustomerInfo;
```

This SQL statement selects the `Name` and `PhoneNumber` fields from the `CustomerInfo` table, which contains all the customer information including their names and contact numbers.
SQL: SELECT Name, PhoneNumber
FROM CustomerInfo;
找出所有已婚客户的客户ID和配偶姓名。
SQL生成时间： 9.53
{"status_code": 200, "request_id": "4ef91d30-8b76-9b12-bd75-2bcabdf83e34", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To find all married customers and their spouse's names, we need to join the `CustomerInfo` table with the `PolicyInfo` table and then with the `BeneficiaryInfo` table. The key is to identify that the `Beneficiary` in the `PolicyInfo` table can be the spouse if the `Relationship` is 'Spouse', and then match this `Beneficiary` with the `BeneficiaryID` in the `BeneficiaryInfo` table to get the spouse's name.\n\nHere is the SQL query:\n\n```sql\nSELECT \n    ci.CustomerID,\n    bi.Name AS SpouseName\nFROM \n    CustomerInfo ci\nJOIN \n    PolicyInfo pi ON ci.CustomerID = pi.CustomerID\nJOIN \n    BeneficiaryInfo bi ON pi.BeneficiaryID = bi.BeneficiaryID\nWHERE \n    ci.MaritalStatus = 'Married'\n    AND pi.Relationship = 'Spouse';\n```\n\nThis query selects the `CustomerID` from the `CustomerInfo` table and the `Name` of the beneficiary (spouse) from the `BeneficiaryInfo` table, joining these tables based on the relationships defined in the `PolicyInfo` table. It filters the results to include only those customers who are married and where the beneficiary is identified as a spouse."}}]}, "usage": {"input_tokens": 827, "output_tokens": 265, "total_tokens": 1092}}
response= To find all married customers and their spouse's names, we need to join the `CustomerInfo` table with the `PolicyInfo` table and then with the `BeneficiaryInfo` table. The key is to identify that the `Beneficiary` in the `PolicyInfo` table can be the spouse if the `Relationship` is 'Spouse', and then match this `Beneficiary` with the `BeneficiaryID` in the `BeneficiaryInfo` table to get the spouse's name.

Here is the SQL query:

```sql
SELECT
    ci.CustomerID,
    bi.Name AS SpouseName
FROM
    CustomerInfo ci
JOIN
    PolicyInfo pi ON ci.CustomerID = pi.CustomerID
JOIN
    BeneficiaryInfo bi ON pi.BeneficiaryID = bi.BeneficiaryID
WHERE
    ci.MaritalStatus = 'Married'
    AND pi.Relationship = 'Spouse';
```

This query selects the `CustomerID` from the `CustomerInfo` table and the `Name` of the beneficiary (spouse) from the `BeneficiaryInfo` table, joining these tables based on the relationships defined in the `PolicyInfo` table. It filters the results to include only those customers who are married and where the beneficiary is identified as a spouse.
SQL: SELECT
    ci.CustomerID,
    bi.Name AS SpouseName
FROM
    CustomerInfo ci
JOIN
    PolicyInfo pi ON ci.CustomerID = pi.CustomerID
JOIN
    BeneficiaryInfo bi ON pi.BeneficiaryID = bi.BeneficiaryID
WHERE
    ci.MaritalStatus = 'Married'
    AND pi.Relationship = 'Spouse';
查询所有未支付保费的保单号和客户姓名。
SQL生成时间： 2.99
{"status_code": 200, "request_id": "bd56b71e-8ae4-92f2-bb27-771b5da9478d", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "```sql\nSELECT \n    p.PolicyNumber,\n    c.Name AS CustomerName\nFROM \n    PolicyInfo p\nJOIN \n    CustomerInfo c ON p.CustomerID = c.CustomerID\nWHERE \n    p.PremiumPaymentStatus = 'Unpaid';\n```\n\nThis SQL query joins the `PolicyInfo` table with the `CustomerInfo` table on the `CustomerID` field and filters for policies where the `PremiumPaymentStatus` is 'Unpaid', selecting the policy number and customer name."}}]}, "usage": {"input_tokens": 829, "output_tokens": 103, "total_tokens": 932}}
response= ```sql
SELECT
    p.PolicyNumber,
    c.Name AS CustomerName
FROM
    PolicyInfo p
JOIN
    CustomerInfo c ON p.CustomerID = c.CustomerID
WHERE
    p.PremiumPaymentStatus = 'Unpaid';
```

This SQL query joins the `PolicyInfo` table with the `CustomerInfo` table on the `CustomerID` field and filters for policies where the `PremiumPaymentStatus` is 'Unpaid', selecting the policy number and customer name.
SQL: SELECT
    p.PolicyNumber,
    c.Name AS CustomerName
FROM
    PolicyInfo p
JOIN
    CustomerInfo c ON p.CustomerID = c.CustomerID
WHERE
    p.PremiumPaymentStatus = 'Unpaid';
找出所有理赔金额大于10000元的理赔记录，并列出相关客户的姓名和联系电话。
SQL生成时间： 9.3
{"status_code": 200, "request_id": "938837d9-f6b6-9ade-873d-3e93cc58c356", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To answer the question \"找出所有理赔金额大于10000元的理赔记录，并列出相关客户的姓名和联系电话,\" we need to join the `ClaimInfo` table with the `PolicyInfo` table to get the `CustomerID`, and then join the `CustomerInfo` table to get the customer's name and phone number.\n\nHere is the SQL query:\n\n```sql\nSELECT \n    ci.ClaimNumber,\n    ci.ClaimDate,\n    ci.ClaimType,\n    ci.ClaimAmount,\n    ci.ClaimStatus,\n    ci.ClaimDescription,\n    c.Name AS CustomerName,\n    c.PhoneNumber AS CustomerPhoneNumber\nFROM \n    ClaimInfo ci\nJOIN \n    PolicyInfo pi ON ci.PolicyNumber = pi.PolicyNumber\nJOIN \n    CustomerInfo c ON pi.CustomerID = c.CustomerID\nWHERE \n    ci.ClaimAmount > 10000;\n```\n\nThis query selects the necessary fields from the `ClaimInfo` table and joins it with the `PolicyInfo` table on `PolicyNumber` to get the `CustomerID`. It then joins the `CustomerInfo` table on `CustomerID` to get the customer's name and phone number. The `WHERE` clause filters the results to only include claims with an amount greater than 10,000."}}]}, "usage": {"input_tokens": 849, "output_tokens": 272, "total_tokens": 1121}}
response= To answer the question "找出所有理赔金额大于10000元的理赔记录，并列出相关客户的姓名和联系电话," we need to join the `ClaimInfo` table with the `PolicyInfo` table to get the `CustomerID`, and then join the `CustomerInfo` table to get the customer's name and phone number.

Here is the SQL query:

```sql
SELECT
    ci.ClaimNumber,
    ci.ClaimDate,
    ci.ClaimType,
    ci.ClaimAmount,
    ci.ClaimStatus,
    ci.ClaimDescription,
    c.Name AS CustomerName,
    c.PhoneNumber AS CustomerPhoneNumber
FROM
    ClaimInfo ci
JOIN
    PolicyInfo pi ON ci.PolicyNumber = pi.PolicyNumber
JOIN
    CustomerInfo c ON pi.CustomerID = c.CustomerID
WHERE
    ci.ClaimAmount > 10000;
```

This query selects the necessary fields from the `ClaimInfo` table and joins it with the `PolicyInfo` table on `PolicyNumber` to get the `CustomerID`. It then joins the `CustomerInfo` table on `CustomerID` to get the customer's name and phone number. The `WHERE` clause filters the results to only include claims with an amount greater than 10,000.
SQL: SELECT
    ci.ClaimNumber,
    ci.ClaimDate,
    ci.ClaimType,
    ci.ClaimAmount,
    ci.ClaimStatus,
    ci.ClaimDescription,
    c.Name AS CustomerName,
    c.PhoneNumber AS CustomerPhoneNumber
FROM
    ClaimInfo ci
JOIN
    PolicyInfo pi ON ci.PolicyNumber = pi.PolicyNumber
JOIN
    CustomerInfo c ON pi.CustomerID = c.CustomerID
WHERE
    ci.ClaimAmount > 10000;
查找代理人的姓名和执照到期日期，按照执照到期日期升序排序。
SQL生成时间： 1.36
{"status_code": 200, "request_id": "33592474-e273-9b9a-8cdf-3f1508e655de", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "```sql\nSELECT Name, LicenseExpirationDate\nFROM AgentInfo\nORDER BY LicenseExpirationDate ASC;\n```"}}]}, "usage": {"input_tokens": 842, "output_tokens": 22, "total_tokens": 864}}
response= ```sql
SELECT Name, LicenseExpirationDate
FROM AgentInfo
ORDER BY LicenseExpirationDate ASC;
```
SQL: SELECT Name, LicenseExpirationDate
FROM AgentInfo
ORDER BY LicenseExpirationDate ASC;
获取所有保险产品的产品名称和保费，按照保费降序排序。
SQL生成时间： 2.74
{"status_code": 200, "request_id": "671a37ef-4c3d-9174-8010-31eb408ed894", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To answer the question \"获取所有保险产品的产品名称和保费，按照保费降序排序。\", you only need the `ProductInfo` table, specifically the `ProductName` and `Premium` fields. Here is the SQL query:\n\n```sql\nSELECT ProductName, Premium\nFROM ProductInfo\nORDER BY Premium DESC;\n```\n\nThis query selects the `ProductName` and `Premium` from the `ProductInfo` table and orders the results by `Premium` in descending order."}}]}, "usage": {"input_tokens": 833, "output_tokens": 98, "total_tokens": 931}}
response= To answer the question "获取所有保险产品的产品名称和保费，按照保费降序排序。", you only need the `ProductInfo` table, specifically the `ProductName` and `Premium` fields. Here is the SQL query:

```sql
SELECT ProductName, Premium
FROM ProductInfo
ORDER BY Premium DESC;
```

This query selects the `ProductName` and `Premium` from the `ProductInfo` table and orders the results by `Premium` in descending order.
SQL: SELECT ProductName, Premium
FROM ProductInfo
ORDER BY Premium DESC;
查询销售区域在上海的员工，列出他们的姓名和职位。
SQL生成时间： 12.96
{"status_code": 200, "request_id": "37c53bc6-a29c-9e04-aced-45e460d9485c", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To answer the question \"查询销售区域在上海的员工，列出他们的姓名和职位\" (Query employees in the sales region of Shanghai and list their names and positions), we need to look at the `EmployeeInfo` table for employee details and the `ProductInfo` table to filter by the sales region.\n\nHowever, there's a slight confusion here because the `ProductInfo` table contains the `SalesRegion` field, which pertains to products rather than employees. If we assume that the sales region for employees is stored in the `Location` field of the `EmployeeInfo` table, then we can directly query this table.\n\nIf the intention is to find employees who are selling products in the 'Shanghai' region, we would need to join the `EmployeeInfo` table with the `PolicyInfo` table (assuming `AgentID` in `PolicyInfo` corresponds to `EmployeeID` in `EmployeeInfo`) and then with the `ProductInfo` table to filter by `SalesRegion`. However, based on the provided schema, it seems more straightforward to filter directly from the `EmployeeInfo` table.\n\nHere is the SQL query assuming the `Location` field in `EmployeeInfo` represents the sales region:\n\n```sql\nSELECT Name, Position\nFROM EmployeeInfo\nWHERE Location = 'Shanghai';\n```\n\nIf the actual requirement is to find employees selling products in the 'Shanghai' region, then the query would be:\n\n```sql\nSELECT DISTINCT e.Name, e.Position\nFROM EmployeeInfo e\nJOIN PolicyInfo p ON e.EmployeeID = p.AgentID\nJOIN ProductInfo pr ON p.ProductID = pr.ProductID\nWHERE pr.SalesRegion = 'Shanghai';\n```\n\nPlease specify if you need the second query or the first one based on your actual requirements."}}]}, "usage": {"input_tokens": 829, "output_tokens": 363, "total_tokens": 1192}}
response= To answer the question "查询销售区域在上海的员工，列出他们的姓名和职位" (Query employees in the sales region of Shanghai and list their names and positions), we need to look at the `EmployeeInfo` table for employee details and the `ProductInfo` table to filter by the sales region.

However, there's a slight confusion here because the `ProductInfo` table contains the `SalesRegion` field, which pertains to products rather than employees. If we assume that the sales region for employees is stored in the `Location` field of the `EmployeeInfo` table, then we can directly query this table.

If the intention is to find employees who are selling products in the 'Shanghai' region, we would need to join the `EmployeeInfo` table with the `PolicyInfo` table (assuming `AgentID` in `PolicyInfo` corresponds to `EmployeeID` in `EmployeeInfo`) and then with the `ProductInfo` table to filter by `SalesRegion`. However, based on the provided schema, it seems more straightforward to filter directly from the `EmployeeInfo` table.

Here is the SQL query assuming the `Location` field in `EmployeeInfo` represents the sales region:

```sql
SELECT Name, Position
FROM EmployeeInfo
WHERE Location = 'Shanghai';
```

If the actual requirement is to find employees selling products in the 'Shanghai' region, then the query would be:

```sql
SELECT DISTINCT e.Name, e.Position
FROM EmployeeInfo e
JOIN PolicyInfo p ON e.EmployeeID = p.AgentID
JOIN ProductInfo pr ON p.ProductID = pr.ProductID
WHERE pr.SalesRegion = 'Shanghai';
```

Please specify if you need the second query or the first one based on your actual requirements.
SQL: SELECT Name, Position
FROM EmployeeInfo
WHERE Location = 'Shanghai';
找出所有年龄在30岁以下的客户，并列出其客户ID、姓名和出生日期。
SQL生成时间： 4.38
{"status_code": 200, "request_id": "9e17da6e-8cfe-9140-a835-359b30aa2bb2", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To find all customers under the age of 30 and list their CustomerID, Name, and DateOfBirth, you can use the following SQL query. This query calculates the age based on the current date and filters customers who are under 30 years old.\n\n```sql\nSELECT \n    CustomerID, \n    Name, \n    DateOfBirth\nFROM \n    CustomerInfo\nWHERE \n    TIMESTAMPDIFF(YEAR, DateOfBirth, CURDATE()) < 30;\n```\n\nThis query uses the `TIMESTAMPDIFF` function to calculate the difference in years between the current date (`CURDATE()`) and the `DateOfBirth` field. It then filters the results to include only those customers whose age is less than 30."}}]}, "usage": {"input_tokens": 845, "output_tokens": 150, "total_tokens": 995}}
response= To find all customers under the age of 30 and list their CustomerID, Name, and DateOfBirth, you can use the following SQL query. This query calculates the age based on the current date and filters customers who are under 30 years old.

```sql
SELECT
    CustomerID,
    Name,
    DateOfBirth
FROM
    CustomerInfo
WHERE
    TIMESTAMPDIFF(YEAR, DateOfBirth, CURDATE()) < 30;
```

This query uses the `TIMESTAMPDIFF` function to calculate the difference in years between the current date (`CURDATE()`) and the `DateOfBirth` field. It then filters the results to include only those customers whose age is less than 30.
SQL: SELECT
    CustomerID,
    Name,
    DateOfBirth
FROM
    CustomerInfo
WHERE
    TIMESTAMPDIFF(YEAR, DateOfBirth, CURDATE()) < 30;
查找所有已审核但尚未支付的理赔记录，包括理赔号、审核人和审核日期。
SQL生成时间： 7.43
{"status_code": 200, "request_id": "9d838801-03d5-914e-b1c7-8e0e450302a0", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To find all claims that have been reviewed but not yet paid, you need to focus on the `ClaimInfo` table. Specifically, you need to filter for records where `ClaimStatus` indicates that the claim has been reviewed but not paid. Typically, this might be a status like 'Reviewed' or similar, and the absence of a `PaymentDate` would indicate it hasn't been paid.\n\nAssuming `ClaimStatus` can be something like 'Reviewed' and `PaymentDate` is NULL when not paid, here is the SQL query:\n\n```sql\nSELECT \n    ClaimNumber,\n    ClaimHandler AS Reviewer,\n    ReviewDate\nFROM \n    ClaimInfo\nWHERE \n    ClaimStatus = 'Reviewed'\n    AND PaymentDate IS NULL;\n```\n\nIf the `ClaimHandler` field does not contain the name of the reviewer but rather just an identifier (like an employee ID), and you need the actual name of the reviewer from the `EmployeeInfo` table, you would need to join these tables. Assuming `ClaimHandler` is actually an `EmployeeID`, the query would look like this:\n\n```sql\nSELECT \n    ci.ClaimNumber,\n    ei.Name AS Reviewer,\n    ci.ReviewDate\nFROM \n    ClaimInfo ci\nJOIN \n    EmployeeInfo ei ON ci.ClaimHandler = ei.EmployeeID\nWHERE \n    ci.ClaimStatus = 'Reviewed'\n    AND ci.PaymentDate IS NULL;\n```\n\nMake sure to adjust the `ClaimStatus` value according to your actual data if it uses different terminology."}}]}, "usage": {"input_tokens": 846, "output_tokens": 313, "total_tokens": 1159}}
response= To find all claims that have been reviewed but not yet paid, you need to focus on the `ClaimInfo` table. Specifically, you need to filter for records where `ClaimStatus` indicates that the claim has been reviewed but not paid. Typically, this might be a status like 'Reviewed' or similar, and the absence of a `PaymentDate` would indicate it hasn't been paid.

Assuming `ClaimStatus` can be something like 'Reviewed' and `PaymentDate` is NULL when not paid, here is the SQL query:

```sql
SELECT
    ClaimNumber,
    ClaimHandler AS Reviewer,
    ReviewDate
FROM
    ClaimInfo
WHERE
    ClaimStatus = 'Reviewed'
    AND PaymentDate IS NULL;
```

If the `ClaimHandler` field does not contain the name of the reviewer but rather just an identifier (like an employee ID), and you need the actual name of the reviewer from the `EmployeeInfo` table, you would need to join these tables. Assuming `ClaimHandler` is actually an `EmployeeID`, the query would look like this:

```sql
SELECT
    ci.ClaimNumber,
    ei.Name AS Reviewer,
    ci.ReviewDate
FROM
    ClaimInfo ci
JOIN
    EmployeeInfo ei ON ci.ClaimHandler = ei.EmployeeID
WHERE
    ci.ClaimStatus = 'Reviewed'
    AND ci.PaymentDate IS NULL;
```

Make sure to adjust the `ClaimStatus` value according to your actual data if it uses different terminology.
SQL: SELECT
    ClaimNumber,
    ClaimHandler AS Reviewer,
    ReviewDate
FROM
    ClaimInfo
WHERE
    ClaimStatus = 'Reviewed'
    AND PaymentDate IS NULL;
获取每个产品类型下的平均保费，以及该产品类型下的产品数量。
SQL生成时间： 4.54
{"status_code": 200, "request_id": "2f41de0a-6770-9cce-ba27-4c5b945ea237", "code": "", "message": "", "output": {"text": null, "finish_reason": null, "choices": [{"finish_reason": "stop", "message": {"role": "assistant", "content": "To answer the question \"获取每个产品类型下的平均保费，以及该产品类型下的产品数量\" (Get the average premium and the number of products for each product type), you only need the `ProductInfo` table since it contains the necessary fields (`ProductType` and `Premium`).\n\nHere is the SQL query that calculates the average premium and counts the number of products for each product type:\n\n```sql\nSELECT \n    ProductType,\n    AVG(Premium) AS AveragePremium,\n    COUNT(ProductID) AS NumberOfProducts\nFROM \n    ProductInfo\nGROUP BY \n    ProductType;\n```\n\nThis query groups the data by `ProductType`, calculates the average premium using `AVG(Premium)`, and counts the number of products using `COUNT(ProductID)` for each product type."}}]}, "usage": {"input_tokens": 835, "output_tokens": 162, "total_tokens": 997}}
response= To answer the question "获取每个产品类型下的平均保费，以及该产品类型下的产品数量" (Get the average premium and the number of products for each product type), you only need the `ProductInfo` table since it contains the necessary fields (`ProductType` and `Premium`).

Here is the SQL query that calculates the average premium and counts the number of products for each product type:

```sql
SELECT
    ProductType,
    AVG(Premium) AS AveragePremium,
    COUNT(ProductID) AS NumberOfProducts
FROM
    ProductInfo
GROUP BY
    ProductType;
```


In [11]:
result = pd.DataFrame(columns=['QA', 'SQL', 'time'])
result['QA'] = qa_list
result['SQL'] = sql_list
result['time'] = time_list
result.to_excel(save_file, index=False)
result

TypeError: Cannot convert numpy.ndarray to numpy.ndarray